.addBlock {
  display: grid;
  grid-template-columns: 80% 15%;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  @media screen and (max-width: 800px) {
    grid-template-columns: 1fr;
    row-gap: 15px;
  }
}
.addTodoInput {
  height: 50px;
  font-size: 20px;
}
.addTodoButton {
  height: 50px;
  font-size: 20px;
}
