.filters {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 16px;
  gap: 15px;
  width: 100%;
  border-radius: 8px;
  box-shadow:
    rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  @media screen and (max-width: 500px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
.filter {
  text-transform: lowercase;
  font-size: 14px;
}
