.appWrapper {
  width: 100%;
  height: 100vh;
}
.appContent {
  padding: 0 16px;
  width: 100%;
  max-width: 800px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  gap: 25px;
}
.appTitle {
  font-family: var(--font-text);
  font-weight: 100;
  color: var(--color-pink);
  font-size: 80px;
  line-height: 1;
}
.addBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  width: 100%;
}
.addTodoInput {
  font-family: var(--font-text);
  height: 50px;
  font-size: 20px;
}
.addTodoButton {
  height: 50px;
  font-size: 20px;
}
.todosList {
  width: 100%;
  min-height: 50px;
}
.todoItem {
  height: 50px;
  width: 100%;
  display: flex;
  padding: 0 16px;
  justify-content: space-between;
  align-items: center;
}
.todoItemText {
  font-family: var(--font-text);
  font-size: 20px;
}
